/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include font-custom;
  margin: 0;
  background-color: $bg-color-primary;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
