/* здесь используйте глобальные переменные */
$font-primary: "Lato", sans-serif;
$font-secondary: "Oswald", sans-serif;

$text-color-primary: #444444;
$text-color-secondary: #000000;
$text-color-tertiary: #ffffff;
$text-color-card-title: #222222;

$bg-color-primary: #ffffff;
$bg-color-secondary: #f2f2f2;
$bg-color-basic: #68b738;

$tablet-width: 768px;
$desktop-width: 1440px;
