/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/visually-hidden.scss";
@import "./common/global.scss";

/* BLOCKS */
@import "./blocks/header.scss";
@import "./blocks/logo.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/hero.scss";
@import "./blocks/button.scss";
@import "./blocks/programs.scss";
@import "./blocks/program.scss";
@import "./blocks/features.scss";
@import "./blocks/example.scss";
@import "./blocks/results.scss";
@import "./blocks/slider.scss";
@import "./blocks/footer.scss";
@import "./blocks/contacts.scss";
@import "./blocks/socials-list.scss";
@import "./blocks/catalog.scss";
@import "./blocks/section-title.scss";
@import "./blocks/section-subtitle.scss";
@import "./blocks/main-catalog.scss";
@import "./blocks/main-products.scss";
@import "./blocks/card.scss";
@import "./blocks/supplement-catalog.scss";
@import "./blocks/supplement-products.scss";
@import "./blocks/supplement-card.scss";
@import "./blocks/gift.scss";
@import "./blocks/subscription.scss";
@import "./blocks/subscription-form.scss";
@import "./blocks/field.scss";
