.button {
  @include font-custom($font-secondary, 16px, 400, 20px, $text-color-tertiary);
  @include button;
  padding: 10px;
  width: 100%;

  &:hover,
  &:focus-visible {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--secondary {
  background-color: $bg-color-secondary;
  color: $text-color-primary;

  &.card__button {
    margin-top: auto;
  }

  &:hover,
  &:focus-visible {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: $text-color-primary;
  }
}
