.card {
  display: grid;
  grid-template-columns: 140px 1fr;
  border-top: 1px solid #ebebeb;
  padding-bottom: 19px;

  &--last {
    position: relative;
    padding-top: 82px;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &--last::before {
    content: "";
    position: absolute;
    background-image: url("../../icons/plus.svg");
    width: 30px;
    height: 30px;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media screen and (max-width: $mobile-width-only) {
    grid-template-columns: 1fr 1fr;
    padding-block: 21px 25px;
    row-gap: 19px;

    &.card--last {
      row-gap: 9px;
    }
  }

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-image: linear-gradient(to bottom, transparent 93px, $bg-color-secondary 93px);
    border-top: none;
    padding-bottom: 40px;

    &--last {
      background-image: none;
      border: 2px solid $bg-color-secondary;
      margin-top: 92px;
      padding-top: 0;
    }

    &--last::before {
      width: 60px;
      height: 60px;
      top: 52px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    justify-content: stretch;
    padding: 0 38px 39px;
    background-image: linear-gradient(to bottom, transparent 115px, $bg-color-secondary 115px);

    &--last {
      padding-top: 114px;
      background-image: none;
      margin-top: 114px;
    }

    &--last::before {
      top: 48px;
    }
  }
}

.card__link-img {
  place-self: center center;
  grid-area: 1 / 1 / 3 / 2;
  padding-top: 0;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 210px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-top: 12px;
    padding-top: 37px;
  }
}

.card__img {
  @media screen and (min-width: $tablet-width) {
    margin-top: 27px;
  }
}

.card__link {
  text-decoration: none;
  padding-top: 7px;

  @media screen and (max-width: $mobile-width-only) {
    padding-top: 0;

    &.card__link--last {
      padding-top: 56px;
    }
  }

  @media screen and (min-width: $tablet-width) {
    margin: 0 auto;
    padding-top: 0;

    &--last {
      padding-top: 128px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    padding-top: 7px;

    &--last {
      padding-top: 19px;
    }
  }
}

.card__title {
  @include font-custom($font-secondary, 16px, 400, 20px, $text-color-card-title);
  text-transform: uppercase;
  max-width: 95px;

  &--last {
    max-width: fit-content;
    justify-self: center;
    margin: 0;
    margin-top: -5px;
  }

  @media screen and (max-width: $mobile-width-only) {
    margin: 0;
  }

  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-secondary, 20px, 400, 24px, $text-color-card-title);
    text-align: center;
    max-width: 135px;
    margin: 0;
    padding-top: 14px;

    &--last {
      max-width: 170px;
      margin: 0 auto;
      padding-top: 31px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    padding-top: 13px;
    padding-bottom: 9px;

    &--last {
      margin: 0 auto -5px;
    }
  }
}

.card__info {
  font-size: 12px;
  line-height: 12px;
  display: flex;

  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-primary, 16px, 400, 20px, $text-color-primary);
    border-bottom: 1px solid #cdcdcd;
    padding-top: 4px;
    padding-bottom: 5px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-bottom: 7px;
  }
}

.card__info-wrapper {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $mobile-width-only) {
    margin-top: -1px;
  }

  @media screen and (min-width: $tablet-width) {
    margin-top: -6px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-bottom: 15px;
  }
}

.card__info-description {
  font-size: 12px;
  line-height: 15px;
  margin-left: auto;

  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-primary, 16px, 400, 20px, $text-color-primary);
  }
}

.card__info-description--last {
  text-align: center;
  margin: 0 auto 12px;

  @media screen and (min-width: $tablet-width) {
    max-width: 170px;
    padding-bottom: 31px;
  }
}

.card__button {
  grid-column: 1 / -1;
  margin-top: 17px;

  @media screen and (max-width: $mobile-width-only) {
    margin-top: auto;
  }

  @media screen and (min-width: $tablet-width) {
    padding: 10px 26px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-top: auto;
  }
}
