.card {
  display: grid;
  grid-template-columns: 140px 1fr;
  border-top: 1px solid #ebebeb;
  padding-bottom: 25px;

  &--last {
    position: relative;
    padding-top: 80px;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &--last::before {
    content: "";
    position: absolute;
    background-image: url("../../icons/plus.svg");
    width: 30px;
    height: 30px;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: end;
    background-image: linear-gradient(to bottom, transparent 130px, $bg-color-secondary 130px);
    border-top: none;
    padding: 27px 37px 40px;

    &--last {
      background-image: none;
      border: 2px solid $bg-color-secondary;
      margin-top: 131px;
      padding-top: 0;
    }

    &--last::before {
      width: 60px;
      height: 60px;
      top: 50px;
    }
  }
}

.card__link-img {
  place-self: center center;
  grid-area: 1 / 1 / 3 / 2;
  padding-top: 51px;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    width: 200px;
    height: 210px;
    place-content: end center;
  }
}

.card__link {
  text-decoration: none;
  padding-top: 5px;

  @media screen and (min-width: $tablet-width) {
    margin: 0 auto;

    &--last {
      padding-top: 9px;
    }
  }
}

.card__title {
  @include font-custom($font-secondary, 16px, 400, 20px, $text-color-card-title);
  text-transform: uppercase;
  max-width: 95px;

  &--last {
    max-width: fit-content;
    justify-self: center;
    margin: 0;
    margin-top: -5px;
  }

  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-secondary, 20px, 400, 24px, $text-color-card-title);
    text-align: center;
    max-width: 135px;
    margin: 0;
    padding-top: 30px;

    &--last {
      max-width: 170px;
      margin: 0 auto 23px;
      padding-top: 31px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    padding-top: 19px;

    &--last {
      margin: 0 auto 23px;
    }
  }
}

.card__info {
  font-size: 12px;
  line-height: 12px;
  display: flex;

  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-primary, 16px, 400, 20px, $text-color-primary);
    border-bottom: 1px solid #cdcdcd;
    padding-top: 4px;
    padding-bottom: 3px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-bottom: 7px;
  }
}

.card__info-wrapper {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
}

.card__info-description {
  font-size: 12px;
  line-height: 15px;
  margin-left: auto;

  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-primary, 16px, 400, 20px, $text-color-primary);
  }
}

.card__info-description--last {
  text-align: center;
  margin: 0 auto;

  @media screen and (min-width: $tablet-width) {
    max-width: 170px;
    padding-bottom: 32px;
  }
}

.card__button {
  grid-column: 1 / -1;
  margin-top: 18px;

  @media screen and (min-width: $tablet-width) {
    padding: 10px 26px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-top: 15px;
  }
}
