.catalog {
  padding: 27px 20px 0;

  @media screen and (min-width: $tablet-width) {
    padding: 65px 30px;
  }

  @media screen and (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 0 auto;
    padding-top: 74px;
  }
}

.catalog__title {
  margin: 0 0 40px;
}

.catalog__title.section-title {
  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-secondary, 60px, 400, 60px, $text-color-secondary);
    margin: 0;
    padding-bottom: 84px;
  }
}
