.catalog {
  @media screen and (min-width: $desktop-width) {
    width: $desktop-width - 220px;
  }
}

.catalog__title {
  margin: 0 0 40px;
}

.catalog__main-catalog {
  @media screen and (min-width: $tablet-width) {
    padding-bottom: 74px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-bottom: 72px;
  }
}

.catalog__supplement-catalog {
  @media screen and (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.catalog__subscription {
  padding-top: 40px;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet-width) {
    padding: 80px 40px;
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 97px 0 40px;
  }
}
