.catalog {
  @media screen and (min-width: $desktop-width) {
    width: $desktop-width - 220px;
  }
}

.catalog__title {
  margin: 0 0 40px;
}

.catalog__title.section-title {
  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-secondary, 60px, 400, 60px, $text-color-secondary);
    margin: 0;
    padding-bottom: 36px;
  }
}

.catalog__main-catalog {
  @media screen and (min-width: $tablet-width) {
    padding-bottom: 74px;
  }
}

.catalog__supplement-catalog {
  @media screen and (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.catalog__subscription {
  padding-top: 40px;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet-width) {
    padding: 80px 40px;
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 97px 0 40px;
  }
}
