.contacts__wrapper {
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  background-color: $bg-color-secondary;
  align-items: start;

  @media screen and (min-width: $tablet-width) {
    padding: 60px 70px;
  }

  @media screen and (min-width: $desktop-width) {
    grid-area: 2 / 2 / 3 / 3;
    width: 580px;
    z-index: 3;
    background-color: $bg-color-primary;
    flex-wrap: wrap;
    padding: 60px 80px;
    column-gap: 87px;
  }
}

.contacts__title {
  margin: 0;

  @include font-custom($font-secondary, 16px, 400, 20px, $text-color-secondary);
  text-transform: uppercase;
  flex: 0 0 125px;

  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-secondary, 20px, 400, 26px, $text-color-secondary);
    flex: 0 0 160px;
  }

  @media screen and (min-width: $desktop-width) {
    margin: 0;
  }
}

.contacts__address {
  font-style: normal;
  line-height: 20px;
  max-width: 141px;

  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-primary, 16px, 400, 20px, $text-color-primary);
    max-width: 161px;
    text-align: end;
  }
}

.contacts__map {
  display: grid;
  grid-template-columns: 20px 1fr 20px;

  @media screen and (min-width: $desktop-width) {
    grid-area: 1 / 1 / -1 / -1;
  }
}

.contacts__map-iframe {
  grid-area: 1 / 1 / -1 / -1;
  z-index: 2;
  width: 100%;
  height: 362px;
  border: none;

  @media screen and (min-width: $tablet-width) {
    height: 400px;
  }
}

.contacts__map-picture {
  grid-area: 1 / 1 / -1 / -1;
  z-index: 1;
}

.contacts__map-img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 365px;

  @media screen and (min-width: $desktop-width) {
    height: 400px;
  }
}

.contacts__city {
  @media screen and (min-width: $tablet-width) {
    display: inline-block;
    margin-top: 18px;
  }
}
