.example {
  background-color: #eaeaea;
  padding: 0 20px 40px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $tablet-width) {
    background-color: transparent;
    background-image: linear-gradient(to top, #eaeaea 0, #eaeaea 462px, transparent 462px);
    padding: 45px 30px 101px;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 0 0 55px;
    background-image: linear-gradient($bg-color-primary 135px, $bg-color-secondary 135px 100%);
  }
}

.example-wrapper {
  @media screen and (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 0 auto;
    padding: 0 60px 75px;
    position: relative;
  }
}

.example__title {
  @include font-custom($font-secondary, 36px, 400, 40px, $text-color-secondary);

  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-secondary, 60px, 400, 60px, $text-color-secondary);
    margin: 0;
    padding-bottom: 60px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 50%;
    padding-bottom: 146px;
  }
}

.example__description {
  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-primary, 16px, 400, 24px, $text-color-primary);
    margin: 0;
    padding-bottom: 55px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 436px;
    padding-bottom: 70px;
  }
}

.example__list {
  @include list-reset;
  margin: 0 0 20px;
}

.example__list-wrapper {
  @media screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
  }

  @media screen and (min-width: $desktop-width) {
    flex-direction: column;
    width: 436px;
    padding-bottom: 0;
  }
}

.example__cost {
  @include font-custom($font-secondary, 14px, 400, 20px, $text-color-secondary);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-secondary, 20px, 400, 20px, $text-color-secondary);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 9px;
  }

  @media screen and (min-width: $desktop-width) {
    align-items: flex-start;
    flex-direction: row;
  }
}

.example__slider {
  margin: 0 auto;
}
