.features {
  padding: 0 20px;
  margin-bottom: 50px;

  @media screen and (min-width: $tablet-width) {
    padding: 45px 30px 0;
    margin-bottom: 0;
    border-bottom: 1px solid #e6e6e6;
  }

  @media screen and (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 0 auto;
    padding: 71px 60px 0;
    border-bottom: none;
  }
}

.features__title {
  @include font-custom($font-secondary, 36px, 400, 40px, $text-color-secondary);
  margin-top: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-secondary, 60px, 400, 60px, $text-color-secondary);
    margin: 0 0 32px;
  }
}

.features__list {
  @include list-reset;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    gap: 37px 137px;
    flex-wrap: wrap;
    counter-reset: features__item 0;
    padding-bottom: 50px;
  }

  @media screen and (min-width: $desktop-width) {
    gap: 37px 77px;
    padding-bottom: 68px;
  }
}

.features__item {
  display: flex;
  gap: 20px;

  @media screen and (min-width: $tablet-width) {
    width: 250px;
    padding-top: 150px;
    position: relative;
    counter-increment: features__item 1;
  }
}

.features__item:not(:last-child) {
  margin-bottom: 20px;
}

.features__item::before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: $bg-color-basic;
  background-position: 50%;
  background-size: 30px 32px;
  background-repeat: no-repeat;
  flex-shrink: 0;

  @media screen and (min-width: $tablet-width) {
    position: absolute;
    top: 40px;
    width: 80px;
    height: 80px;
  }
}

.features__item::after {
  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-secondary, 280px, 400, 280px, $bg-color-secondary);
    content: counter(features__item);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

.features__item--leaf::before {
  background-image: url("../../icons/leaf.svg");
}

.features__item--water::before {
  background-image: url("../../icons/boiling-pot.svg");
}

.features__item--cutlery::before {
  background-image: url("../../icons/cutlery.svg");
}

.features__item--alarm::before {
  background-image: url("../../icons/alarm-clock.svg");
}

.features__description {
  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-primary, 16px, 400, 24px, $text-color-primary);
  }
}
