.field__input {
  @include font-custom($font-secondary, 20px, 400, 24px, $text-color-primary);
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 16px;
  border: 1px solid #cdcdcd;
  padding: 13px 13px 16px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 0;
    max-width: 492px;
    margin-left: auto;
    padding: 14px 10px 16px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 497px;
    max-width: none;
  }
}
