.gift {
  background-image:
    linear-gradient(rgba($bg-color-basic, 0.85)),
    image-set(url("../../images/gift/gift-background-mobile@1x.webp") 1x type("image/webp"),
    url("../../images/gift/gift-background-mobile@2x.webp") 2x type("image/webp"),
    url("../../images/gift/gift-background-mobile@1x.png") 1x type("image/png"),
    url("../../images/gift/gift-background-mobile@2x.png") 2x type("image/png"));
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 290px;
  padding: 60px 50px 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::before {
    content: "";
    background-image: url("../../icons/gift.svg");
    width: 78px;
    height: 80px;
    display: block;
    margin: 0 auto 48px;
  }

  @media screen and (min-width: $tablet-width) {
    background-image:
      linear-gradient(rgba($bg-color-basic, 0.85)),
      image-set(url("../../images/gift/gift-background-tablet@1x.webp") 1x type("image/webp"),
      url("../../images/gift/gift-background-tablet@2x.webp") 2x type("image/webp"),
      url("../../images/gift/gift-background-tablet@1x.png") 1x type("image/png"),
      url("../../images/gift/gift-background-tablet@2x.png") 2x type("image/png"));
    position: relative;
    height: fit-content;
    background-position: 0;

    &::before {
      margin: 0;
    }
  }

  @media screen and (min-width: $desktop-width) {
    background-image:
      linear-gradient(rgba($bg-color-basic, 0.85)),
      image-set(url("../../images/gift/gift-background-desktop@1x.webp") 1x type("image/webp"),
      url("../../images/gift/gift-background-desktop@2x.webp") 2x type("image/webp"),
      url("../../images/gift/gift-background-desktop@1x.png") 1x type("image/png"),
      url("../../images/gift/gift-background-desktop@2x.png") 2x type("image/png"));
    flex-direction: column;
    padding: 56px 42px 42px;
    gap: 46px;
  }
}

.gift__text {
  font-size: 16px;
  line-height: 20px;
  color: $text-color-tertiary;
  text-align: center;

  @media screen and (min-width: $tablet-width) {
    text-align: left;
    padding-left: 357px;
    padding-right: 25px;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 0;
    text-align: center;
    margin: 0;
  }
}
