.header {
  @media screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }

  @media screen and (min-width: $desktop-width) {
    width: $desktop-width - 220px;
  }
}

.header__logo {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  margin-bottom: 11px;

  & .logo__text {
    transform: translateX(30px);
  }

  @media screen and (min-width: $tablet-width) {
    gap: 13px;
    justify-content: flex-start;
    width: auto;
    flex-shrink: 0;

    & .logo__text {
      transform: translateX(0);
      width: 118px;
    }
  }
}

.header__nav {
  @media screen and (min-width: $tablet-width) {
    flex: 1 0 439px;
  }

  @media screen and (min-width: $desktop-width) {
    justify-items: flex-end;
  }
}
