.header {
  padding: 13px 20px 0;
  border-bottom: 1px solid #d9d9d9;


  @media screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    border-bottom: none;
    padding: 25px 30px 0;
  }

  @media screen and (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 0 auto;
    padding-top: 55px;
  }
}

.header__logo {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  margin-bottom: 14px;

  @media screen and (min-width: $tablet-width) {
    gap: 13px;
    justify-content: flex-start;
    width: auto;
    flex-shrink: 0;
  }
}
