.header {
  @media screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }

  @media screen and (min-width: $desktop-width) {
    width: $desktop-width - 220px;
  }
}

.header__logo {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  margin-bottom: 9px;

  @media screen and (min-width: $tablet-width) {
    gap: 13px;
    justify-content: flex-start;
    width: auto;
    flex-shrink: 0;
    margin-bottom: 3px;
  }
}

.header__logo--text {
  transform: translateX(30px);

  @media screen and (min-width: $tablet-width) {
    transform: translateX(0);
  }
}

.header__nav {
  @media screen and (min-width: $tablet-width) {
    padding-right: 6px;
  }

  @media screen and (min-width: $desktop-width) {
    justify-items: flex-end;
    padding-right: 0;
  }
}
