.header {
  @media screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }

  @media screen and (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.header__logo {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  margin-bottom: 14px;

  & .logo__text {
    transform: translateX(30px);
  }

  @media screen and (min-width: $tablet-width) {
    gap: 13px;
    justify-content: flex-start;
    width: auto;
    flex-shrink: 0;
  }
}
