.hero {
  background-image:
    linear-gradient(rgba($bg-color-basic, 0.85)),
    image-set(url("../../images/hero/hero-background-mobile@1x.webp") 1x type("image/webp"),
    url("../../images/hero/hero-background-mobile@2x.webp") 2x type("image/webp"),
    url("../../images/hero/hero-background-mobile@1x.jpg") 1x type("image/jpeg"),
    url("../../images/hero/hero-background-mobile@2x.jpg") 2x type("image/jpeg")),
    linear-gradient(#504f54, #424246);
  background-repeat: no-repeat;
  background-position: 0 0, top, 0 0;
  background-size: 100% 63%, 320px 302px, 100% 63%;
  padding: 27px 20px 0;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet-width) {
    background: 0 0;
    position: relative;
  }

  @media screen and (min-width: $desktop-width) {
    position: static;
    display: grid;
    grid-template-columns: 1fr 510px 870px 1fr;
    margin-bottom: 126px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      min-width: 50%;
      min-height: 694px;
      z-index: -1;
      background-image:
        linear-gradient(rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%),
        image-set(url("../../images/hero/hero-background-desktop@1x.webp") 1x type("image/webp"),
        url("../../images/hero/hero-background-desktop@2x.webp") 2x type("image/webp"),
        url("../../images/hero/hero-background-desktop@1x.jpg") 1x type("image/jpeg"),
        url("../../images/hero/hero-background-desktop@2x.jpg") 2x type("image/jpeg")),
        linear-gradient(#313134 50%, #343438 100%);
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }
}

.hero__title {
  @include font-custom($font-secondary, 36px, 400, 36px, $text-color-tertiary);
  text-align: center;
  margin: 0 0 25px;

  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-secondary, 60px, 400, 60px, $text-color-secondary);
    text-align: left;
    padding-left: 90px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-top: 80px;
    padding-left: 80px;
    margin-bottom: 40px;
    grid-column: 2 / 3;
  }
}

.hero__text {
  @include font-custom($font-secondary, 14px, 400, 14px, $text-color-tertiary);
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 30px;

  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-secondary, 20px, 400, 20px, $text-color-secondary);
    text-align: left;
    margin-left: 90px;
  }

  @media screen and (min-width: $desktop-width) {
    max-width: 500px;
    margin-bottom: 52px;
    grid-area: 2 / 2 / 3 / 3;
  }
}

.hero__img-wrapper {
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 270px;

  @media screen and (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    grid-area: 1 / 3 / 5 / 4;
    margin-left: 0;
  }
}

.hero__link {
  margin-top: 3px;
  padding: 10px 64px;

  @media screen and (min-width: $tablet-width) {
    position: absolute;
    content: "";
    max-width: 250px;
    width: 100%;
    top: 250px;
    left: 140px;
  }

  @media screen and (min-width: $desktop-width) {
    &.button {
      @include font-custom($font-secondary, 20px, 400, 26px, $text-color-tertiary);
      position: static;
      grid-area: 3 / 2 / 4 / 3;
      margin-left: 80px;
    }
  }
}
