.logo {
  align-items: center;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__text {
  &--header {
    transform: translateX(30px);
  }

  @media screen and (min-width: $tablet-width) {
    &--header {
      transform: translateX(0);
    }
  }

  @media screen and (min-width: $desktop-width) {
    width: 128px;
  }
}
