.logo {
  align-items: center;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__text {
  @media screen and (min-width: $desktop-width) {
    width: 118px;
  }
}
