// .main-container {}
.main-container__hero {
  padding: 27px 20px 0;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet-width) {
    position: relative;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 126px;
  }
}

.main-container__programs {
  padding: 0 20px;

  @media screen and (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.main-container__features {
  padding: 0 20px;
  margin-bottom: 50px;

  @media screen and (min-width: $tablet-width) {
    padding: 45px 30px 0;
    margin-bottom: 0;
    border-bottom: 1px solid #e6e6e6;
  }

  @media screen and (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 0 auto;
    padding: 71px 60px 0;
    border-bottom: none;
  }
}

.main-container__example {
  padding: 0 20px 40px;

  @media screen and (min-width: $tablet-width) {
    padding: 45px 30px 101px;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 0 0 55px;
  }
}
