.main-catalog__list {
  @include list-reset;

  @media screen and (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    gap: 9px 60px;
  }

  @media screen and (min-width: $desktop-width) {
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    gap: 29px 80px;
  }
}
