.page__header {
  padding: 13px 20px 0;
  border-bottom: 1px solid #d9d9d9;

  @media screen and (min-width: $tablet-width) {
    border-bottom: none;
    padding: 25px 30px 0;
  }

  @media screen and (min-width: $desktop-width) {
    margin: 0 auto;
    padding-top: 55px;
  }
}

.page__catalog {
  padding: 27px 20px 0;

  @media screen and (min-width: $tablet-width) {
    padding: 65px 30px;
  }

  @media screen and (min-width: $desktop-width) {
    margin: 0 auto;
    padding-top: 74px;
  }
}
