.page__header {
  padding: 13px 20px 0;
  border-bottom: 1px solid #d9d9d9;

  @media screen and (min-width: $tablet-width) {
    border-bottom: none;
    padding: 19px 30px 0;
  }

  @media screen and (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 50px 0 0;
  }
}

.page__catalog {
  padding: 27px 20px 0;

  @media screen and (min-width: $tablet-width) {
    padding: 50px 30px 0;
  }

  @media screen and (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 63px 0 65px;
  }
}
