.results {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and (min-width: $tablet-width) {
    gap: 43px;
  }

  @media screen and (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.results__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.results__value {
  @include font-custom($font-secondary, 24px, 400, 24px, $text-color-secondary);
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding: 14px;
  width: 124px;
  text-align: center;

  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-secondary, 30px, 400, 37px, $text-color-secondary);
    width: 150px;
  }
}

.results__description {
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  text-align: center;
  margin: -17px auto 0;
  width: min-content;
  padding: 0 20px;
  background-color: #eaeaea;

  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-primary, 14px, 400, 14px, $text-color-primary);
    background-color: $bg-color-primary;
  }

  @media screen and (min-width: $desktop-width) {
    background-color: $bg-color-secondary;
  }
}
