.section-subtitle {
  @include font-custom($font-secondary, 24px, 400, 24px, $text-color-secondary);
  background-color: $bg-color-primary;
  width: fit-content;

  &::before {
    content: "";
    position: absolute;
    background-color: $bg-color-basic;
    box-shadow: 100vw 0 #68b738;
    width: 100vw;
    height: 2px;
    top: 38%;
    z-index: -1;
  }

  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-secondary, 32px, 400, 32px, $text-color-secondary);
  }

  @media screen and (min-width: $desktop-width) {
    @include font-custom($font-secondary, 40px, 400, 40px, $text-color-secondary);

    &::before {
      top: 47%;
    }
  }
}
