.section-subtitle {
  @include font-custom($font-secondary, 24px, 400, 24px, $text-color-secondary);
  position: relative;
  background-color: $bg-color-primary;
  padding: 0 40px;
  width: fit-content;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    background-color: $bg-color-basic;
    box-shadow: 100vw 0 #68b738;
    width: 100vw;
    height: 2px;
    top: 40%;
    right: 0;
    z-index: -1;
  }

  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-secondary, 32px, 400, 32px, $text-color-secondary);
    margin: 0;
  }
}
