.section-title {
  @include font-custom($font-secondary, 36px, 400, 36px, $text-color-secondary);

  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-secondary, 60px, 400, 60px, $text-color-secondary);
    margin: 0;
    padding-bottom: 30px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-bottom: 48px;
  }
}
