.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}
// .socials-list__item {}
.socials-list__link {
  display: flex;
  min-width: 28px;
  min-height: 22px;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    width: 28px;
    height: 22px;
    display: block;
    background-color: #666666;
    mask-position: 50%;
    mask-size: 28px 22px;
    mask-repeat: no-repeat;
  }

  &:hover::before,
  &:focus-visible::before {
    background-color: $bg-color-basic;
  }

  &:active::before {
    background-color: $bg-color-basic;
    opacity: 0.3;
  }
}

.socials-list__link--vk::before {
  mask-image: url("../../icons/vk.svg");
}

.socials-list__link--youtube::before {
  mask-image: url("../../icons/youtube.svg");
}

.socials-list__link--telegram::before {
  mask-image: url("../../icons/telegram.svg");
}
