.supplement-catalog__title {
  margin: 0;
  margin-bottom: 36px;
  position: relative;
  padding-right: 40px;

  @media screen and (min-width: $tablet-width) {
    margin: 0 0 79px;
    padding-left: 40px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-left: -40px;
  }
}

.supplement-catalog__list {
  @include list-reset;
  margin: 0 0 35px;

  @media screen and (min-width: $tablet-width) {
    margin: 0 0 70px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.supplement-catalog-wrapper {
  @media screen and (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    column-gap: 80px;
  }
}

.supplement-catalog__gift {
  padding: 60px 50px 43px;

  @media screen and (min-width: $tablet-width) {
    position: relative;
    padding-left: 70px;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 56px 42px 42px;
  }
}
