.supplement-card {
  &:last-child {
    border-bottom: 1px solid #cdcdcd;
    padding-top: 15px;
  }

  @media screen and (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px 20px;
    padding: 26px 40px;
    align-items: end;

    &:last-child {
      padding-top: 26px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    border-left: none;
    border-right: none;
    grid-template-columns: 1fr 285px 244px;
    align-items: center;
    padding: 15px 0;
    column-gap: 40px;

    &:last-child {
      border-bottom: none;
      padding-top: 17px;
    }
  }
}

.supplement-card__title {
  @include font-custom($font-secondary, 16px, 400, 16px, $text-color-card-title);
  text-transform: uppercase;
  margin: 0 0 13px;

  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-secondary, 20px, 400, 20px, $text-color-card-title);
    margin: 0;
  }
}

.supplement-card__info-wrapper {
  display: flex;
  column-gap: 50px;
  line-height: 14px;
  justify-content: space-between;

  @media screen and (min-width: $tablet-width) {
    justify-content: end;
  }

  @media screen and (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.supplement-card__info-title {
  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-primary, 16px, 400, 20px, $text-color-primary);
    text-align: end;
  }
}

.supplement-card__info-description {
  @media screen and (min-width: $tablet-width) {
    @include font-custom($font-primary, 16px, 400, 20px, $text-color-primary);
    margin: 0;
    text-align: end;
  }
}

.supplement-card__button {
  margin-top: 14px;

  @media screen and (min-width: $tablet-width) {
    grid-column: 1 / -1;
    margin-top: 0;
  }

  @media screen and (min-width: $desktop-width) {
    grid-column: 3 / 4;
  }
}
